{% extends '../layouts/base.html' %} {% block content %}

<div class="main-container">
  <div class="pd-ltr-10 xs-pd-10-5">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>Form Submissions</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Forms</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Submissions
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown"></div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <div class="pd-10"></div>
        <div class="pb-20">
          <table class="data-table table stripe hover nowrap">
            <thead>
              <tr>
                <th class="table-plus">Name</th>
                <th class="datatable-nosort"></th>
                <th class="datatable-nosort"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in submissions %}
              <tr>
                <td class="table-plus">{{item.user.first_name}} {{item.user.last_name}}</td>
                <td class="text-center">{{item.submission_date}}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
