{% extends '../layouts/base.html' %} {% block content %}

<div class="main-container">
  <div class="pd-ltr-10 xs-pd-10-5">
    <form method="POST">
        {% csrf_token %}
      <div class="min-height-200px">
        <div class="page-header">
          <div class="row d-flex justify-content-between px-2">
            <div class="title">
              <h4>{{form.name}}</h4>
            </div>
            <a class="btn btn-danger btn-sm" href="{% url 'forms-list' %}">Back</a>
          </div>
        </div>
        {% for section in form.sections %}
      <div class="card-box mb-2">
        <div class="pb-20">
          <div class="card-header">
            <div class="card-title">
              <h6>{{section.name}}</h6>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              {% for field in section.fields %}
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>{{field.label}}</label>
                  {% if field.field_type == 'text' %}
                  <input type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}" required="{{field.required}}" />
                  {% elif field.field_type == 'select' %}
                  <select class="form-control" name="{{ field.name }}" id="{{ field.name }}">
                    <option>Select an option</option>
                    {% for option in field.choices %}
                    <option value="{{ option.choice_text }}">{{ option.choice_text }}</option>
                    {% endfor %}
                  </select>
                  {% elif field.field_type == 'radio' %}
                  {% for option in field.choices %}
                  <div class="custom-control custom-radio mb-5">
											<input type="radio" id="{{ field.name }}_{{ forloop.counter }}" name="{{ field.name }}" class="custom-control-input" value="{{ option.choice_text }}">
											<label class="custom-control-label" for="{{ field.name }}_{{ forloop.counter }}">{{ option.choice_text }}</label>
									</div>
                  {% endfor %}
                  {% elif field.field_type == 'checkbox' %}
                  {% for option in field.choices %}
                  <div class="custom-control custom-checkbox mb-5">
                    <input type="checkbox" class="custom-control-input" id="{{ field.name }}_{{ forloop.counter }}" name="{{ field.name }}" value="{{ option.choice_text }}">
                    <label class="custom-control-label" for="{{ field.name }}_{{ forloop.counter }}">{{ option.choice_text }}</label>
                  </div>
                  {% endfor %}
                  {% elif field.field_type == 'file' %}
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="{{ field.name }}" id="{{ field.name }}" />
                    <label class="custom-file-label">Choose file</label>
                  </div>
                  {% elif field.field_type == 'phone' %}
                  <input type="tel" class="form-control" name="{{ field.name }}" id="{{ field.name }}" />
                  {% elif field.field_type == 'email' %}
                  <input type="email" class="form-control" name="{{ field.name }}" id="{{ field.name }}" />
                  {% elif field.field_type == 'number' %}
                  <input type="number" class="form-control" name="{{ field.name }}" id="{{ field.name }}" />
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      <div class="mt-3">
        <button class="btn btn-primary btn-sm">Submit</button>
        <button class="btn btn-danger btn-sm">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
